@*@model List<Business.Models.ProductModel>*@
@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Products";
}

@*<h3>@ViewData["Title"]</h3>*@
<h3>@ViewBag.Title</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.UnitPrice)
        </th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @*@product.Name*@

                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.UnitPrice)
            </td>
        </tr>
    }
</table>

