@*@model List<Business.Models.ProductModel>*@
@model IEnumerable<ProductModel>

@{
    ViewData["Title"] = "Products";
    //Layout = "_Layout"; // istenilen layout burada atanıp bu view'ın kullanması sağlanabilir
}

@*<h3>@ViewData["Title"]</h3>*@
<h3>@ViewBag.Title</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.Name)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.UnitPriceDisplay)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.StockAmount)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.ExpirationDateDisplay) (Year/Month/Day)
        </th>
        <th>
            @Html.DisplayNameFor(modelItem => modelItem.CategoryDisplay)
        </th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>
                @*@product.Name*@

                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.UnitPriceDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.StockAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.ExpirationDateDisplay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.CategoryDisplay)
            </td>
        </tr>
    }
</table>

